@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import "tailwindcss";

@layer base{
    body {
        @apply font-poller;
        @apply text-base-color;
        @apply bg-sky;
        @apply bg-fixed;
        /*font-family: "Poller One", serif;*/
        /*background-image: url("./assets/sky.jpg");*/
        /*color: #eedb00;*/
        /*background-attachment: fixed;*/
    }
    /*spinner*/
    .spinner{
        width: 48px;
        height: 48px;
        border:10px solid #FFF;
        border-radius: 50%;
        position: relative;
        transform:rotate(45deg);
        box-sizing: border-box;
    }
    .spinner::before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        inset:-10px;
        border-radius: 50%;
        border:10px solid #FF3D00;
        animation: prixClipFix 2s infinite linear;
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }

/*    */
}
@theme{
    --color-grey-color: rgba(60, 69, 67, 0.6);
    --color-base-color: #eedb00;
    --font-poller: 'Poller One', serif;
    --background-image-sky: url('./assets/sky.jpg');
    --color-red-color:rgba(204, 3, 35, 0.5);
    --color-buttom-sub: rgba(55, 71, 9, 0.75);
    --shadow-hero: 10px 10px rgba(60, 69, 67, 0.6);
    --color-grean-salat-color: #45a049;
}